.parent {

    display: grid;
    grid-template-columns: repeat (9, 1fr);
    grid-template-rows: repeat (10, 1fr);
    gap: 2px;
    height: 200vh;
    width: 100vw;
    
    

}

#div1 {    
    background: linear-gradient(to bottom, #ffd700, #ded6d7); 
    background-repeat: no-repeat;
    grid-column: 1/6;
    grid-row: 1/3;
  
}


#div2 {
    background-color: #ffd700; 
    grid-column: 6/8 ;
    grid-row: 1/2;  
   
}


#div3 {
    background-color: #ffd700; 
    grid-column: 8/10;
    grid-row: 1/2;
}
#div4 {
    background: linear-gradient(to bottom, #ffcc33, #ded6d7); 
    grid-column: 6/10;
    grid-row: 2/3;
}



#div5 { 
    background: linear-gradient(to bottom, #ded6d7, rgb(9, 14, 147));
    grid-column: 1/3;
    grid-row: 3/4;
}
#div6 {
    background: linear-gradient(to bottom, #ded6d7, rgb(9, 14, 147));
    grid-column: 3/6;
    grid-row: 3/4;
}
#div7 {
    background-color: #ded6d7;
    grid-column: 6/10;
    grid-row: 3/4;
}
#div8 {
    background-color: rgb(9, 14, 147);
    grid-column: 1/6;
    grid-row: 4/6;
}
#div9 {
    background-color: rgb(255, 187, 0);
    grid-column: 6/10;
    grid-row: 4/8;
}
#div10 {
    background: linear-gradient(to bottom, rgb(9, 14, 147), #ded6d7);
    grid-column: 1/6;
    grid-row: 6/9;
}

#div11 {
    background: linear-gradient(to bottom, rgb(9, 14, 147), #ded6d7);
    grid-column: 6/10;
    grid-row: 8/9;
}
#div12 {
    background-color:  #ded6d7 ;
    grid-column: 1/4;
    grid-row: 9/11;
}


#div13 {
    background-color:  #ded6d7;
    grid-column: 4/5;
    grid-row: 9/11;
}
#div14 {
    background-color:#ded6d7;
    grid-column: 5/10;
    grid-row: 9/10;
}
#div15 {
    background-color:#ded6d7 ;
    border: #ffd700;
    grid-column: 5/10;
    grid-row: 10/11;
}

#div1,#div2, #div3, #div5, #div6, #div7, #div8, #div10, #div11, #div12, #div13, #div14, #div15, #text1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#v1{
    height: 99%;
    width: 99%;
    border: 4px solid  rgb(9, 14, 147); /* Add border */
}
#img1 {
    height: 68%;
    width: 82%;
}
#img2 {
    height: 75%;
    width: 31%;
}
#img3 {
    height: 75%;
    width: 34%;
}

#img4 { 

    height: 44%;
    width: 66%;
    margin-left: 30x;

}

#img5 {

    height: 100%;
    width: 112%;
}

#img6 {

    height: 100%;
    width: 100%;
   
}

#img7 {

    height: 100%;
    width: 100%;
}

#img8 {

    height: 100%;
    width: 100%;
}

#img9{

    height: 100%;
    width: 130%;
}

#img10 {

    height: 100%;
    width: 100%;

}
#text1 {
    color: #073ca5; /* Black text color */
    font-size: 33px; /* Font size */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Font family */
    font-weight: bold; /* Bold text */
    margin-left: 5px; /* Left margin */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#text2 {
    color: #ffd700 ;
    font-size: 34px; /* Font size */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Font family */
    font-weight: bold; /* Bold text */
    margin-left: 5px; /* Left margin */
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#text3 {
    color:#073ca5 ;
    font-size: 26px; /* Font size */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Font family */
    font-weight: bold; /* Bold text */
    margin-left: 5px; /* Left margin */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#text4 
{
    color:#e21414 ;
    font-size: 25px; /* Font size */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Font family */
    font-weight: bold; /* Bold text */
    margin-left: 5px; /* Left margin */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

