h1 { 
 text-align: center;
 font-size: 30px;
 background-size: 1000px;
 color:rgb(171, 123, 171);
 font-family:monospace;
 font-style:inherit;
 background-color:rgb(211, 198, 168);
 padding: 10px;
 
 }

 body { 

    background-color:#e3d4c1;
    
}