
#A{

    color: blue;
    font-size: 32px;
    background-color: black;


}

#B{

    color: rgb(0, 255, 110);
    font-size: 32px;
    background-color: brown;
    opacity: 0.4;

}

#C{

    color: rgb(255, 51, 0);
    font-size: 32px;
    background-color: rgb(25, 212, 212);
}
#D{

    color: rgb(139, 203, 18);
    font-size: 32px;
    background-color: blueviolet;


}

#E{

    color: cornflowerblue;
    font-size: 32px;
    background-color: black;


}

h1{
    text-align: center;
    color: red;
}

#blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 50px;
    padding: 70px;
}

#red{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 30px;
    padding: 1px;
    border: solid 2px black;
}

#yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 60px;
    padding: 30px;
    border: solid 5px rgb(237, 255, 119);
}

#green{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 20px;
    padding: 5px;
    border: solid 2px pink;


}

.flex-container1 {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    background-color: plum;
    height: 300px;
    align-items: flex-start;
    justify-content: center;
}

h1 {
    text-align: center;
    color: black;
}

.flex-container1 > div {
    background-color: purple;
    width: 210px;
    height: 200px;
    text-align: center;
    font-size: small;
    color:aliceblue;
    border: solid 1px black;
    margin: 10px;

}
.flex-container3{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgb(90, 90, 90);
    border: solid 5px black;
    height: 500px;
align-items: center;

}

#left-div1{ 
    
    height: 300px;
    border: solid 1px black;
    width: 350px; 
    background-image: url(https://vignette.wikia.nocookie.net/awesomeanimeandmanga/images/c/ce/OP01-26.png/revision/latest?cb=20140926031448);
    background-size: 500px; /* or i can make it in px for example 50px or 300px or percentage like 100%*/


}

#right-div2{ 
    
    height: 350px;
    border: solid 1px black;
    width: 350px; 
    background-image: url(https://jooinn.com/images/lonely-tree-reflection-3.jpg);
    



}

#text1{
    
    font-size: xx-large;
    font-style: inherit;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 10px;
 

}

#img1{
    height: 100%;
    width: 100%;  /* comment in css*/

}

#img2{
    font-size: xx-large;

}

#div1Container4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgb(90, 90, 90);
    border: solid 5px black;
    height: 500px;
    align-items: center;


}

#div1, #div2, #div3{

height: 400px;
width: 400px;

}

#img3, #img4, #img5{
    height: 100%;
    width: 100%;
}