body {
    font-family: Arial, sans-serif;
    background-color:  #cfc09d;
    margin: 0px;
    padding: 20px;
}

.container {
    max-width: 800px;  /*makes the container shrink*/
    margin: 0 auto;
    padding: 10px;
    background-color: #cfc09d;
}

h1 {
    text-align: center;
    color: black;
    background-color: #c2b493;
    margin: 0px;
}

.dish-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name-description {
    width: 65%;
}

.image {
    width: 30%;
    height: 40%;
    text-align: center;
    padding-right: 1px;
    padding-left: 15px;
    padding-top: 11px;
    border-radius: 5%;
}
.image img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    display: block;
}

.ingredients-instructions {
    display: flex;       /*to fold this text*/
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.ingredients, .instructions {
    width: 45%;
}

.ingredients, .ingredients {
    line-height: 30px;
}


.serving-feedback {
    margin-top: 20px;
}

button {
    padding: 10px;
    background-color: darkgrey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

button:hover {
    background-color: grey;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #c2b493;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:#3c2f2f;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(131,47,47);
}
.navbar li{
    float: left;
}

.image1 {
    width: 70%;
    height: 50%;
    text-align: center;
    padding-right: 1px;
    padding-left: 90px;
    padding-top: 11px;
    border-radius: 5%;
}
h2{
  background-color:  #445D1C;
}

.container1 {
    max-width: 800px;  /*makes the container shrink*/
    margin: 0 auto;
    padding: 10px;
    background-color: #cfc09d;
}
h4{
    background-color: rgb(158, 66, 66);
    font-size: x-large;
  }

  .image2 {
    width: 70%;
    height: 60%;
    text-align: center;
    padding-right: 1px;
    padding-left: 90px;
    padding-top: 25px;
    border-radius: 5%;
}
hr {
    background-color: black;
    width: 2px;
    border: 0px;
}
